/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

input,
button,
textarea,
select {
  font: inherit;
}

@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/gill-sans.otf) format("otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/gill-sans.otf) format("otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/gill-sans-italic.otf) format("otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/gill-sans-light.otf) format("otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Extra Condensed Thin";
  src: url(/fonts/proxima-nova-extra-condensed-thin.otf) format("otf");
  font-weight: 100;
  font-style: normal;
}
body {
  font-family: "Gill Sans";
}

.title-1-light {
  font-family: "Proxima Nova Extra Condensed Thin";
  font-size: 60px;
  color: #ffffff;
  text-transform: uppercase;
}

.title-1-light-lowercase {
  font-family: "Proxima Nova Extra Condensed Thin";
  font-size: 60px;
  color: #ffffff;
}

.title-2-light {
  font-family: "Proxima Nova Extra Condensed Thin";
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
}

.title-3-light {
  font-family: "Proxima Nova Extra Condensed Thin";
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

.title-1-dark {
  font-family: "Proxima Nova Extra Condensed Thin";
  font-size: 60px;
  color: #ffffff;
  text-transform: uppercase;
}

.title-2-dark {
  font-family: "Proxima Nova Extra Condensed Thin";
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
}

.title-3-dark {
  font-family: "Proxima Nova Extra Condensed Thin";
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
  width: 80%;
  min-height: 100vh;
}

.btn {
  background-color: #79addc;
  color: #ffffff;
  padding: 11px 21px;
  border: none;
  text-transform: uppercase;
  width: 133px;
  height: 40px;
  border-radius: 20px;
  margin: 57px;
}

.btn-square {
  background-color: #79addc;
  color: #ffffff;
  padding: 11px 21px;
  border: none;
  text-transform: uppercase;
  width: 121.62px;
  height: 40.04px;
  border-radius: 0;
}

.btn-submit {
  background-color: #79addc;
  color: #ffffff;
  padding: 11px 21px;
  border: none;
  text-transform: uppercase;
  width: 813px;
  height: 60.59px;
  border-radius: 20px;
}

.card {
  width: 236px;
  height: 304px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-with-image {
  width: 236px;
  height: 304px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-with-image img {
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  font-size: 20px;
  color: #ffffff;
  padding-top: 30px;
  border: solid thin;
}
nav .links {
  color: #79addc;
}
nav .links a {
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
}

.hero {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/images/hero.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero .hero-cta {
  color: #ffffff;
  width: 484px;
  height: 54px;
  text-align: center;
}

.promo-trips {
  margin-top: -43px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
}
.promo-trips .card-with-image {
  background-color: purple;
}

.booking {
  padding: 0 231px;
}
.booking .form-title {
  font-family: "Proxima Nova Extra Condensed Thin";
  font-size: 60px;
  font-weight: 100;
}
.booking form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 21px;
  font-size: 18px;
}
.booking form input {
  height: 58px;
  min-width: 344px;
  border: thin #79addc solid;
}
.booking form input[type=date] {
  width: 698px;
}
.booking form .big-input {
  width: 453px;
}
.booking form select {
  width: 103px;
  height: 58px;
  border: thin #79addc solid;
}
.booking form textarea {
  min-width: 818px;
  border: thin #79addc solid;
}