/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/gill-sans.otf) format("otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/gill-sans.otf) format("otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/gill-sans-italic.otf) format("otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/gill-sans-italic.otf) format("otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Extra Condensed Thin";
  src: url(/fonts/proxima-nova-extra-condensed-thin.otf) format("otf");
  font-weight: 100;
  font-style: normal;
}
body {
  font-family: "Gill Sans";
}

.title-1-light {
  font-family: "Proxima Nova Extra Condensed Thin";
  size: 60;
  color: #ffffff;
  text-transform: uppercase;
}

.title-2-light {
  font-family: "Proxima Nova Extra Condensed Thin";
  size: 40;
  color: #ffffff;
  text-transform: uppercase;
}

.title-3-light {
  font-family: "Proxima Nova Extra Condensed Thin";
  size: 30;
  color: #ffffff;
  text-transform: uppercase;
}

.title-1-dark {
  font-family: "Proxima Nova Extra Condensed Thin";
  size: 60;
  color: #ffffff;
  text-transform: uppercase;
}

.title-2-dark {
  font-family: "Proxima Nova Extra Condensed Thin";
  size: 40;
  color: #ffffff;
  text-transform: uppercase;
}

.title-3-dark {
  font-family: "Proxima Nova Extra Condensed Thin";
  size: 30;
  color: #ffffff;
  text-transform: uppercase;
}

.btn {
  background-color: #79addc;
  color: #ffffff;
  padding: 11px 21px;
  border: none;
  width: 133px;
  height: 40px;
}

.btn-square {
  background-color: #79addc;
  color: #ffffff;
  padding: 11px 21px;
  border: none;
  width: 121.62px;
  height: 40.04px;
  border-radius: 0;
}

.btn-submit {
  background-color: #79addc;
  color: #ffffff;
  padding: 11px 21px;
  border: none;
  width: 813px;
  height: 60.59px;
}

.card {
  width: 236;
  height: 304;
  padding: 55px;
}

.card-with-image {
  width: 236;
  height: 304;
  padding: 55px;
}
.card-with-image img {
  width: 100%;
  height: 100%;
}

.hero {
  height: 500px;
  width: 1280px;
  background-image: url(/images/hero.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}