/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/gill-sans.otf) format("otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/gill-sans.otf) format("otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/gill-sans-italic.otf) format("otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/gill-sans-italic.otf) format("otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Extra Condensed Thin";
  src: url(/fonts/proxima-nova-extra-condensed-thin.otf) format("otf");
  font-weight: 100;
  font-style: normal;
}
body {
  font-family: "Gill Sans";
}

.headline, .headline-3, .headline-2, .headline-1 {
  font-family: "Proxima Nova Extra Condensed Thin";
  color: #000000;
}
.headline-1 {
  text-transform: uppercase;
  font-size: 60px;
}
.headline-2 {
  font-size: 40px;
}
.headline-3 {
  font-size: 30px;
}

.btn {
  background-color: #79addc;
  color: #ffffff;
  padding: 11px 21px;
  border: none;
  width: 133px;
  height: 40px;
}

.btn-square {
  background-color: #79addc;
  color: #ffffff;
  padding: 11px 21px;
  border: none;
  width: 121.62px;
  height: 40.04px;
  border-radius: 0;
}

.btn-submit {
  background-color: #79addc;
  color: #ffffff;
  padding: 11px 21px;
  border: none;
  width: 813px;
  height: 60.59px;
}

.hero {
  height: 500px;
  width: 1280px;
  background-image: url(/images/hero.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}