//colors
$brand-primary: #79addc;
$brand-light: #ffffff;
$brand-dark: #000000;

$font-dark: $brand-dark;
$font-light: $brand-light;

//fonts

//Regular, weight: 400
@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/gill-sans.otf) format("otf");
  font-weight: 400;
  font-style: normal;
}

//700 bold
@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/gill-sans.otf) format("otf");
  font-weight: 700;
  font-style: normal;
}

//italic
@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/gill-sans-italic.otf) format("otf");
  font-weight: 400;
  font-style: italic;
}

//light
@font-face {
  font-family: "Gill Sans";
  src: url(/fonts/gill-sans-italic.otf) format("otf");
  font-weight: 300;
  font-style: normal;
}

//downloaded via Adobe CC
//transferred per https://github.com/echeno/adobe-font-extractor
@font-face {
  font-family: "Proxima Nova Extra Condensed Thin";
  src: url(/fonts/proxima-nova-extra-condensed-thin.otf) format("otf");
  font-weight: 100;
  font-style: normal;
}

//typography
$body-font-family: "Gill Sans";
$title-font-family: "Proxima Nova Extra Condensed Thin";

body {
  font-family: $body-font-family;
}

.title-1-light {
  @include title-base($light: true, $size: 60, $caps: true);
}

.title-2-light {
  @include title-base($light: true, $size: 40, $caps: true);
}

.title-3-light {
  @include title-base($light: true, $size: 30, $caps: true);
}

.title-1-dark {
  @include title-base($light: dark, $size: 60, $caps: true);
}

.title-2-dark {
  @include title-base($light: dark, $size: 40, $caps: true);
}

.title-3-dark {
  @include title-base($light: dark, $size: 30, $caps: true);
}
