//adapted from keywork arguments in https://sass-lang.com/documentation/at-rules/mixin

@mixin site-button($width, $height, $radius: 20px) {
  background-color: $brand-primary;
  color: $brand-light;
  padding: 11px 21px;
  border: none;

  width: $width;
  height: $height;

  @if $radius != 20px {
    border-radius: $radius;
  }
}

@mixin title-base($light: false, $size, $caps: false) {
  font-family: $title-font-family;
  size: $size;
  @if $light {
    color: $font-light;
  } @else {
    color: $font-dark;
  }

  @if $caps {
    text-transform: uppercase;
  }
}

@mixin card-base($width, $height, $radius: 0) {
  width: $width;
  height: $height;
  padding: 55px;
  @if $radius != 0 {
    border-radius: $radius;
  }
}
