//adapted from keyword arguments in https://sass-lang.com/documentation/at-rules/mixin

@mixin site-button($width, $height, $radius: 20px) {
  background-color: $brand-primary;
  color: $brand-light;
  padding: 11px 21px;
  border: none;
  text-transform: uppercase;

  width: $width;
  height: $height;
  border-radius: $radius;
}

@mixin title-base($light: false, $size, $caps: false) {
  font-family: $title-font-family;
  font-size: $size;
  @if $light {
    color: $font-light;
  } @else {
    color: $font-dark;
  }

  @if $caps {
    text-transform: uppercase;
  }
}

@mixin card-base($width, $height, $radius: 0) {
  width: $width;
  height: $height;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // justify-content: space-between;

  // padding: 42px;
  @if $radius != 0 {
    border-radius: $radius;
  }
}
